  
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@1,300&display=swap');  
:root {  
  /* change the values below to your colors from your palette */
  --primary-color: #0b4f6c   ;
  --secondary-color: #0f6c13 ;
  --accent1-color: #dea82b;
  --accent2-color: #1f99d1;

  --heading-font: Anton;
  --paragraph-font: "Open Sans", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: #396E94;
  --nav-hover-background-color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
} 
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p, a {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
body {
  max-width: 1950px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  align-content: center;
  background-color: #D4AC0D;
}
nav > a{
    font-family: var(--heading-font);
  }
header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: #396E94;
  }
.logo {
    width: 80px;
    }
#logo_link{
    padding-top: 5px;
    justify-self: center;   
    align-self: center;
    }
header {
    display: grid;
    grid-template-columns: 150px auto;
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: #396E94;
    }
 nav{
    display: flex;
    justify-content: space-around;
    }
nav a {
    text-align: center;
    padding:1em;
    min-width: 120px;
    color: aliceblue;
    text-decoration: none;
    padding: 35px;
    }
nav a:hover {
    color: #fff;
    background-color: #1f99d1;
    }
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: auto;
  }
  #hero-box{
    grid-column: 1/4;
    grid-row: 1/5;
    z-index: -1;
    }
     #hero-img{
      width: 100%;
     }
  #email_contact{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: auto;
    color: aliceblue;   
    font-weight: bold;
    font-size: larger;
    align-items: center;
  }
    #email_icon {
      grid-column: 1/2;
      grid-row: 2/3;
      width: 30px;
      height: 30px;
      align-items: flex-end;
    }
  #phone_contact{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: auto;
    color: aliceblue;   
    align-items: center;
    }
  #phone_icon {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 30px;
    height: 30px;
    align-items: flex-end;
      }
.msg{
  background-color: #1f99d1;
  line-height: 1.5em;
  padding: 35px;
  text-align: justify;
  }
  h3 {
    color:#fff;
    text-align: justify;
  }  
  p {
    color: var(--paragraph-color-on-color);
    text-align: justify;
  } 
  h1{
    color: var(--headline-color-on-color);
    text-align: center;
    text-decoration:double;
    
  }
  
footer{
    background-color: #0f6c13;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
footer h3{
    color:#fff;
  }
footer a{
    color:#fff;
    text-decoration: none;
  }
footer a:hover{
    color:aliceblue;
  }
footer h3 a:hover{
    text-decoration: underline;
  }
footer .social img{
    padding-top: 10px;
  }