  body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: #D4AC0D;
 }  
  header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: #396E94;
  }
  #content{
    max-width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  nav a {
    text-align: center;
    padding:1em;
    min-width: 120px;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
  }
  nav a:hover {
    color: #fff;
    background-color: #1f99d1;
  }
  #hero-msg h1, #hero-msg h4{
    text-align: center;
  }
  .buttom-box{
    text-align: center;
  }
  main{
    text-align: center;
  }
  #background{
    height: 725px;
    background-color: #0b4f6c;
  }
  .book, .join{
    background-color: #396E94;
    color:aliceblue;
    text-decoration: none;
  }
  .book :hover, .join :hover{
    background-color: #D4AC0D;
    color:#0b4f6c;
  }
  .msg{
    background-color: #1f99d1;
  }
  footer{
    background-color: #0f6c13;
  }
  .home-title{
    color: aliceblue;
  }
  .msg h2{
    color: #fff;
  }
  .msg p{
    color: #fff;
  }
  footer h3{
    color:#fff;
  }
  footer a{
    color:#fff;
    text-decoration: none;
  }
  footer a:hover{
    color:aliceblue;
  }
  .logo{
    width: 80px;
  }
  .icon{
    width: 80px;
  }
  #hero-img{
    width: 100%;
  }
  footer h3 a:hover{
    text-decoration: underline;
  }